<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet dapibus nisl. Suspendisse pretium, orci ut posuere auctor, metus turpis auctor ex, vitae vehicula nulla orci ac tortor. Etiam elit dolor, suscipit eget enim id, malesuada dictum nunc. Mauris rhoncus orci vel libero malesuada, eu fermentum libero facilisis. Donec nisl nulla, finibus in velit nec, lacinia malesuada tortor. Donec at dolor ante. Aliquam nec sem elementum, volutpat massa nec, tempus est. Nulla facilisi. Curabitur placerat interdum velit, id maximus urna consectetur quis. Cras ac neque sapien. Nunc ut ligula blandit, rutrum augue quis, commodo mi. Integer egestas feugiat nisi.</p>
        <div class="clearfix">
            <div class="price pull-left">$12</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet dapibus nisl. Suspendisse pretium, orci ut posuere auctor, metus turpis auctor ex, vitae vehicula nulla orci ac tortor. Etiam elit dolor, suscipit eget enim id, malesuada dictum nunc. Mauris rhoncus orci vel libero malesuada, eu fermentum libero facilisis. Donec nisl nulla, finibus in velit nec, lacinia malesuada tortor. Donec at dolor ante. Aliquam nec sem elementum, volutpat massa nec, tempus est. Nulla facilisi. Curabitur placerat interdum velit, id maximus urna consectetur quis. Cras ac neque sapien. Nunc ut ligula blandit, rutrum augue quis, commodo mi. Integer egestas feugiat nisi.</p>
        <div class="clearfix">
            <div class="price pull-left">$12</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet dapibus nisl. Suspendisse pretium, orci ut posuere auctor, metus turpis auctor ex, vitae vehicula nulla orci ac tortor. Etiam elit dolor, suscipit eget enim id, malesuada dictum nunc. Mauris rhoncus orci vel libero malesuada, eu fermentum libero facilisis. Donec nisl nulla, finibus in velit nec, lacinia malesuada tortor. Donec at dolor ante. Aliquam nec sem elementum, volutpat massa nec, tempus est. Nulla facilisi. Curabitur placerat interdum velit, id maximus urna consectetur quis. Cras ac neque sapien. Nunc ut ligula blandit, rutrum augue quis, commodo mi. Integer egestas feugiat nisi.</p>
        <div class="clearfix">
            <div class="price pull-left">$12</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet dapibus nisl. Suspendisse pretium, orci ut posuere auctor, metus turpis auctor ex, vitae vehicula nulla orci ac tortor. Etiam elit dolor, suscipit eget enim id, malesuada dictum nunc. Mauris rhoncus orci vel libero malesuada, eu fermentum libero facilisis. Donec nisl nulla, finibus in velit nec, lacinia malesuada tortor. Donec at dolor ante. Aliquam nec sem elementum, volutpat massa nec, tempus est. Nulla facilisi. Curabitur placerat interdum velit, id maximus urna consectetur quis. Cras ac neque sapien. Nunc ut ligula blandit, rutrum augue quis, commodo mi. Integer egestas feugiat nisi.</p>
        <div class="clearfix">
            <div class="price pull-left">$12</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet dapibus nisl. Suspendisse pretium, orci ut posuere auctor, metus turpis auctor ex, vitae vehicula nulla orci ac tortor. Etiam elit dolor, suscipit eget enim id, malesuada dictum nunc. Mauris rhoncus orci vel libero malesuada, eu fermentum libero facilisis. Donec nisl nulla, finibus in velit nec, lacinia malesuada tortor. Donec at dolor ante. Aliquam nec sem elementum, volutpat massa nec, tempus est. Nulla facilisi. Curabitur placerat interdum velit, id maximus urna consectetur quis. Cras ac neque sapien. Nunc ut ligula blandit, rutrum augue quis, commodo mi. Integer egestas feugiat nisi.</p>
        <div class="clearfix">
            <div class="price pull-left">$12</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Gothiccover.png/220px-Gothiccover.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet dapibus nisl. Suspendisse pretium, orci ut posuere auctor, metus turpis auctor ex, vitae vehicula nulla orci ac tortor. Etiam elit dolor, suscipit eget enim id, malesuada dictum nunc. Mauris rhoncus orci vel libero malesuada, eu fermentum libero facilisis. Donec nisl nulla, finibus in velit nec, lacinia malesuada tortor. Donec at dolor ante. Aliquam nec sem elementum, volutpat massa nec, tempus est. Nulla facilisi. Curabitur placerat interdum velit, id maximus urna consectetur quis. Cras ac neque sapien. Nunc ut ligula blandit, rutrum augue quis, commodo mi. Integer egestas feugiat nisi.</p>
        <div class="clearfix">
            <div class="price pull-left">$12</div>
            <p><a href="#" class="btn btn-success pull-right" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>